.tile {
    position: relative;
    border-radius: 10px;
    padding: 10px;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    }
}

.logo {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 8px;
    bottom: 8px;
    padding: 5px;
    border-radius: 5px;

    background-image: var(--db-bg-icon);
    background-repeat: no-repeat;
    background-clip: border-box;
}
