.title {
    display: inline-block;
    font-weight: 400;

    &.hoverable:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

.gridContainer {
    background-color: var(--mantine-color-dark-9);
    padding: 8px;
    border-radius: 5px;
}
